{% extends 'main/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
About | SoftConnect
{% endblock %}

{% block titleOg %}
About | SoftConnect
{% endblock %}
{% block titleWeb %}
About | SoftConnect
{% endblock %}

{% block descriptionWeb %}
Soft Connect is an innovative research center specializing in AI-driven solutions tailored to enhance organizational efficiency and individual productivity.
{% endblock %}
{% block descriptionOg %}
Soft Connect is an innovative research center specializing in AI-driven solutions tailored to enhance organizational efficiency and individual productivity.
{% endblock %}

{% block header %} About Soft Connect {% endblock %}
{% block class_active_about %}active{% endblock %}
{% block content %}
<div class="container py-4">
        <div class="text-secondary mb-4 bg-light px-4 py-5 text-center">
            <div class="py-5">
                <div class="h1 display-5 fw-bold text-dark">About Us</div>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4 lh-lg">
                        Soft Connect is an innovative research center specializing in AI-driven solutions tailored to enhance organizational efficiency and individual productivity. 
                        Leveraging cutting-edge artificial intelligence technologies, we empower diverse organizations and individuals to 
                        optimize task performance and streamline operations.
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{% url 'chatbot:chat' %}">AI Asistant</a>
                        <a type="button" class="btn btn-outline-dark btn-lg px-4" href="#">How to Prompt</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="border text-white shadow-sm bg-dark p-2 rounded">
                    <div class="h4 text-center">Vision</div>
                    <img class="img-fluid mx-auto d-block" style="max-height: 300px;" src="https://ik.imagekit.io/anthonyalando/Soft_Connect/vision.png?updatedAt=1714828401206" alt="Soft Connect Vision">
                    <div class="lh-lg fs-5">
                        The vision of Soft Connect is to become a global leader in AI-driven solutions, pioneering innovation and 
                        accessibility in technology to empower individuals and organizations worldwide. We aspire to create a future where artificial 
                        intelligence is seamlessly integrated into daily life, driving efficiency, productivity, and positive societal impact.
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="border p-2 rounded shadow-sm bg-light">
                    <div class="h4 text-center">Mission</div>
                    <img class="img-fluid mx-auto d-block" style="max-height: 300px;" src="https://ik.imagekit.io/anthonyalando/Soft_Connect/strategies.png?updatedAt=1714828401201" alt="Soft Connect mission">
                    <div class="lh-lg fs-5">
                        The mission of Soft Connect is to democratize access to AI tools, ensuring that individuals and organizations
                        alike can harness the power of artificial intelligence to achieve peak performance and efficiency. We believe in empowering every user 
                        with cutting-edge technology, fostering innovation, and driving positive change across industries.
                    </div>
                </div>
                
            </div>
        </div>
</div>        

{% endblock %}