{% extends 'main/base.html' %}
{% block title %}
    Admin | Soft Connect
{% endblock %}

{% block content %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
  <!-- Custom styles for this template -->
</head>
<body>
{% block nav-toggle %}
<button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
{% endblock %}
<div class="container-fluid">
    <style>
        .nav-list .nav-link{
            font-weight: 500;
            color: #333;
        }
    </style>
<div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav nav-list flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:homepage' %}">
              <span><i class="fa-solid fa-house"></i></span>
              Home
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main:admin_dashboard' %}">
            <span><i class="fa-solid fa-gauge"></i></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fa-solid fa-users"></i></span>
            Staffs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:admin_messages' %}">
            <span><i class="fa-solid fa-message"></i></span>
            Messages
            {% if messages.count > 0 %}
            <span class="badge rounded-pill bg-danger mx-2 mx-md-4" id="badge-message-count">
                <small >
                    <!-- {% if messages.count < 100 %}
                    {{messages.count}}
                    {% else %}
                    99+
                    {% endif %} -->
                    {% block msg-number %}
                    {% endblock %}
                </small>
            </span>
            {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fa-solid fa-chart-simple"></i></span>
            Trends
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fa-solid fa-chart-area"></i></span>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fa-solid fa-layer-group"></i></span>
            Integrations
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Quick reports</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span><i class="fa-solid fa-hard-drive"></i></span>
        </a>
      </h6>
      <ul class="nav nav-list flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fa-solid fa-money-check-dollar"></i></span>
            Profits
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span><i class="fa-solid fa-scale-balanced"></i></span>
            Year-end sale
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <style>
      .truncate {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
      }
      td.truncate {
          max-width: 150px;
      }
    </style>
  {% block admincontent %}
  {% endblock %}
  </main>
</div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="modal-view-message"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-uploaded-view-message-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-uploaded-view-message-label">{% block modaltitle %}Modal title {% endblock %}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% block modalbody %} Modal body {% endblock %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            {% block modalfooter %} 
            <button type="button" class="btn btn-primary">Send</button>
            {% endblock %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
