{% extends 'main/admin.html' %}
{% block admincontent %}
{% load static %}

<script src="{% static 'js\admin-dashboard.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pt-md-3 pb-2 mb-3 border-bottom">
      <div class="h2">Dashboard</div>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-share-from-square"></i></button>
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-file-export"></i></button>
        </div>
        <form  method="post" id="form_dashboard_graph"  action="{% url 'main:admin' %}">
            {% csrf_token %}
            <input type="hidden" name="load_seven_range" value="true">
            <button type="submit" class="btn btn-sm btn-outline-secondary dropdown-toggle" value="btn_load_seven_range" id="btn_load_seven_range" name="btn_load_seven_range"><i class="fa-solid fa-arrows-rotate"></i></button>
        </form>
      </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <script src="{% static 'js\admin-messages.js' %}"></script>

    <form method="POST" id="form-get-messages" action="{% url 'main:admin_messages' %}">
        {% csrf_token %}
        <input type="hidden" value="True" name="get_messages">
        <div class="d-flex flex-row no-wrap">
            <div class="h2">Messages</div>
            <button class="mx-md-5 mx-sm-2 border-0 bg-transparent" type="submit"  id="btn-get-messages"><i class="fa-solid fa-arrows-rotate"></i><span class="mx-md-2 mx-sm-1">Refresh</span> </button>
        </div>
        
    </form>
    <main id="main"></main>
{% endblock %}