{% extends 'main/admin.html' %}
{% load static %}
{% block admincontent %}
<script src="{% static 'js\admin-messages.js' %}"></script>

<form method="POST" id="form-get-messages" action="{% url 'main:admin_messages' %}">
    {% csrf_token %}
    <input type="hidden" value="True" name="get_messages">
    <div class="d-flex flex-row no-wrap">
        <div class="h2">Messages</div>
        <button class="mx-md-5 mx-sm-2 border-0 bg-transparent" type="submit"  id="btn-get-messages">
            <i class="fa-solid fa-arrows-rotate"></i><span class="mx-md-2 mx-sm-1">Refresh</span>
        </button>
    </div> 
</form>
<main id="main"></main>

{% endblock %}