<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Omukuyia Anthony Alando, Anthony Alando, Omukuyia Portfolio, Softtronic East Africa, Soft connect">
    <meta name="og:title" content="Anthony. Web designer">
    <meta name="og:description" content="Anthony is a kenya based web designer.">
    
    <meta name="og:image" content="https://ik.imagekit.io/anthonyalando/My_Portfolio/anthony_png.png?ik-sdk-version=javascript-1.4.3&updatedAt=1678260761600">
    <link rel="icon" href="https://ik.imagekit.io/anthonyalando/My_Portfolio/anthony-round.png?updatedAt=1679495758645" type="image/x-icon">

    {% load static %}

    <script src="https://kit.fontawesome.com/3695de9773.js" crossorigin="anonymous"></script>
    <link href="{% static 'js\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js\bootstrap\js\bootstrap.min.js' %}" ></script>
    
    <title>{% block title %}Welcome | Soft Connect {% endblock %}</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    
        body *{
            font-family: "Roboto", sans-serif;
        }
    
    </style>
    
</head>
<body class="p-0 m-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top " id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://ik.imagekit.io/anthonyalando/My_Portfolio/anthony-round.png?updatedAt=1679495758645" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"  href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="/airtime">Buy airtime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="/mpesa">Mpesa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.is_authenticated %}
                            {{user.last_name}}
                            {% else %}
                            Account
                            {% endif %}
                          
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% if user.is_authenticated %}
                          <li><a class="dropdown-item" href="{% url 'auth0:logout' %}">Logout</a></li>
                          {% else %}
                          <li><a class="dropdown-item" href="{% url 'auth0:register' %}">Register</a></li>
                          <li><a class="dropdown-item" href="{% url 'auth0:login' %}">Login</a></li>
                          {% endif %}
                          
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success disabled" type="submit">Search</button>
                  </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid position-fixed overflow-auto p-0 m-0 bg-dark" id="body-container" style="height: calc(100% - 56px)!important;">
        {% block content %}
            Homepage
        {% endblock %}
    </div>
    <script>
        $(document).ready(function() {
            // Calculate the height of the specific element
            $(window).resize(function(){
                var nav = $('#nav').outerHeight();

                // Set the height of the target div
                var bodyHeight = $(window).height() - nav - 1;
                $('#body-container').css('height', bodyHeight + 'auto');
                $('#body-container').css('min-height', bodyHeight + 'px');
            });
            $(window).resize();
        });

    </script>
</body>
</html>