{% extends 'main/index.html'%}

{% block title %}
Soft Connect | Chatbot
{% endblock %}

{% block content %}
{% load custom_filters %}
<style>
    .top-section{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        word-wrap: break-word;
        overflow-y: scroll;
        min-height: calc(90vh - 72px)!important;
        max-height: calc(90vh - 72px)!important;
    }
    .top-section::-webkit-scrollbar {
        display: none;
    }
    textarea {
        resize: none; /* Disable manual resizing */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        max-height: 10vh;
    }
    textarea::-webkit-scrollbar {
        display: none;
    }
    input[type="file"] {
        display: none;
    }
    label{
        cursor: pointer;
    }
    
</style>
<div class="h-100 w-75 mx-auto" id="chat-container">
    
    
    <div class="top-section position-relative"id="top">
        <div  id="chat">
            {% for chat in default %}
                    <div class=" rounded m-2 p-1 text-white">{{ chat.message | prepend_username:user | convert_to_markdown|safe }}</div>
                    <div class=" rounded m-2 p-1 text-white">{{ chat.response | prepend_gemini | convert_to_markdown|safe }}</div>
            {% endfor%}
        </div>
        <div class="position-fixed end-0" style="bottom: 12vh;">
            <button class="btn bg-transparent" id="adjust-chat-button"><i class="fa-solid fa-arrow-down"></i></button>
        </div>
    </div>
    <div class="bg-light m-2 border rounded">
        <form method="post" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <label for="id_image">
                        <i class="fa-solid fa-paperclip"></i>
                    </label>
                    {{ form.image }}
                </span>
                {{ form.message }}
                <button type="submit" id="btn-submit"class="btn btn-success btn-block"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </form>  
    </div>
</div>
<script>
    function adjustChatContainer() {
        $("#chat-container").addClass("w-75");
        $(window).resize(function(){
            var viewportWidth = $(window).width();
            if (viewportWidth < 800){
                $("#chat-container").removeClass("w-75");
                $("#chat-container").addClass("w-100");
            }else{
                $("#chat-container").removeClass("w-100");
                $("#chat-container").addClass("w-75");
            }
        });
        $(window).resize();
    }

    // Call the function when the page loads
    $(document).ready(function(){
        adjustChatContainer();
        $("#adjust-chat-button").click(function() {
            adjustChatContainer();
        });
    });

    
</script>
<script>
    $(document).ready(function() {
        $('#top').animate({
            scrollTop: $('#top')[0].scrollHeight
        }, 'slow');
        $('#id_message').keypress(function(event) {
            // Check if the Enter key is pressed
            if (event.keyCode === 13 && !event.shiftKey) {
                event.preventDefault();
                $('#btn-submit').click();
            }
        });
        var appendedData = '';

        $('#form').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Serialize form data
            var formData = new FormData(this);
            // Reference to the submit button
            var submitButton = $('#form button[type="submit"]');

            submitButton.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
            submitButton.attr("disabled","disabled");
            var newDiv = $('<div class="border rounded m-2 p-1 bg-light"></div>');
            // Clear form fields
            $('#form')[0].reset();

            // Send an AJAX request
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    // Update the content of a div with the new data
                    console.log(response);
                    submitButton.html('<i class="fa-solid fa-paper-plane"></i>');
                    submitButton.removeAttr("disabled")
                     //$('#chat').html(response.html);
                    //$('#chat').html(response)
                    //$('#top').scrollTop($('#top')[0].scrollHeight);
                    appendedData = '';
                },
                error: function(error) {
                    submitButton.html('<i class="fa-solid fa-paper-plane"></i>');
                    submitButton.removeAttr("disabled")
                    console.log(error);
                },
                xhrFields: {
                onprogress: function(event) {
                        // Append the new data as it's being streamed
                        var newData = event.target.responseText.substring(appendedData.length);
                        newDiv.append(newData);
                        $('#chat').append(newData);
                        $('#top').scrollTop($('#top')[0].scrollHeight);
                        appendedData += newData;
                    }
                }
            });
        });
    });
</script>
    
    
{%endblock%}