{% extends 'main/base.html' %}

{% block title %}
    Home | Soft Connect
{% endblock %}
{% block class_active_home %}active{% endblock %}
{% block content %}
<style>
    .bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}
#floatingMessage{
    resize: none;
    height: 100px;
}


</style>
<div class="text-white p-2 d-flex justify-content-center align-items-center cover h-100 w-100">
    <style>
        .cover{
            background-image: url(https://ik.imagekit.io/anthonyalando/Soft_Connect/black%20bg.jpg?updatedAt=1714930722480);
            background-repeat: no-repeat;
            background-size:cover;
        }
    </style>
    <div class="row w-100 ">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-10">
                    <span class="lead fs-5">IT Consulting and Solutions</span> 
                    <div class="h1 text-white">
                        <div class="h1">Soft Connect AI: An Intelligent AI Powered Technology Solutions and Services.</div>
                    </div>
                    <div class="lead">
                        <div class="mt-2 d-block fs-5">
                            Chat with our AI model akin to GPT for instant responses. Explore conversational AI today. 
                        </div>
                        <a class="btn mt-sm-3 btn-outline-info rounded-pill btn-lg px-4 me-sm-3 fw-bold" href="{% url 'chatbot:chat' %}">
                            AI Assistant <i class="fa-solid fa-arrow-right fa-beat "></i>
                        </a>
                    </div>
                </div>
            </div>          
        </div>
        
        
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
<symbol id="chat-quote-fill" viewBox="0 0 16 16">
    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
  </symbol>
  <symbol id="cpu-fill" viewBox="0 0 16 16">
    <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
    <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
  </symbol>
  <symbol id="gear-fill" viewBox="0 0 16 16">
    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
  </symbol>
</svg>
</svg>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Top Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chat-quote-fill"/></svg>
            </div>
            <div>
                <h2>Interactive AI</h2>
                <p>Experience the power of AI! Engage with cutting-edge technology designed to revolutionize communication. 
                    Whether you have questions, need assistance, or simply want to explore its capabilities.</p>
                <a href="{% url 'chatbot:chat' %}" class="btn btn-lg btn-primary">
                    Learn More
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#gear-fill"/></svg>
            </div>
            <div>
                <h2>Buy Airtime</h2>
                <p>Top up your airtime effortlessly with our convenient service! Enjoy seamless transactions and 
                    instant recharge for your mobile devices. Our platform offers a hassle-free solution..</p>
                <a href="#" class="btn btn-lg btn-primary disabled">
                    Learn More
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
            </div>
            <div>
                <h2>Pay Bills</h2>
                <p>Say goodbye to bill payment hassles with our streamlined service! Easily settle your utility bills, 
                    internet subscriptions, and more with just a few clicks. 
                    Our secure platform ensures swift and hassle-free transactions</p>
                <a href="#" class="btn btn-lg btn-primary disabled">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5 ">
    <div class="row align-items-center  p-4  pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
        <div class="col-lg-7 text-center text-lg-start">
            <div class="h1 display-5 fw-bold lh-1 mb-3">Contact Us: Send us a quick message.</div>
            <p class="col-lg-10 fs-4">
                Have a question or need assistance? Feel free to reach out to us by sending a quick message! 
                Our team is here to help you with anything you need.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-2 p-md-5 border rounded-3 bg-light position-relative" method="post" id="form-message">
                {% csrf_token %}
                {% if not user.is_authenticated %}
                <div class="alert alert-danger" role="alert">
                    Login to send message!
                </div>
                <script>
                    $(document).keypress(function(event) {
                        // Check if the Enter key is pressed
                        if (event.keyCode === 13) {
                            event.preventDefault();
                        }
                    });
                </script>
                {% endif %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" name="user_email" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingName" name="user_name" placeholder="full name" required>
                    <label for="floatingName">Full Name</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingMessage" name="message_body" required></textarea>
                    <label for="floatingMessage">Message</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                    <input type="checkbox" value="True" name="is_urgent"> Urgent message
                    </label>
                </div>
                <input type="text" hidden value="send_message" name="send_message">
                <button class="w-100 btn btn-lg btn-primary {% if not user.is_authenticated %} disabled {% endif %}" type="submit" id="bt_send_message" value="send_message">Submit</button>
                <hr class="my-4"> 
                <small class="text-muted">Someone will get back to you soon.</small>
            </form>
        </div>
        <script>
            $(document).ready(function(){
                $('#form-message').submit(function(event){
                    event.preventDefault();

                    var formData = new FormData(this);
                    var send_message_button = $('#form-message button[type="submit"]')
                    send_message_button.attr("disabled","disabled")

                    send_message_button.html(`<i class="fa-solid fa-spinner fa-spin-pulse"></i>`)
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response){
                            console.log(response)
                            send_message_button.removeAttr("disabled","disabled");
                            send_message_button.html('Submit');
                            
                            var status_code = response.status_code;
                            var messages = response.message;
                            var status_message = "";
                            $.each(messages, function(key, value) {
                                //status_message += `<span>${value}</span></br>`;
                                status_message += value
                            });

                            createToast(status_message, status_code == "ok" ? 200 : -1)

                            $('#form-message')[0].reset();

                            
                        },
                        error: function(error){
                            send_message_button.removeAttr("disabled","disabled")
                            send_message_button.html('Submit')
                            console.log(error);
                            $('#form-message')[0].reset();

                        }
                    })
                })
            });
            
        </script>
        
    </div>
</div>
    
{% endblock %}