{% extends 'main/base.html' %}

{% block title %}
    Home | Soft Connect
{% endblock %}

{% block content %}
<div class="text-white p-2 d-flex justify-content-center align-items-center cover h-100 w-100">
    <style>
        .cover{
            background-image: url(https://ik.imagekit.io/anthonyalando/Soft_Connect/black%20bg.jpg?updatedAt=1714930722480);
            background-repeat: no-repeat;
            background-size:cover;
        }
    </style>
    <div class="row w-100 ">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-10">
                    <span class="text-muted lead">IT Consulting and Solutions</span> 
                    <div class="h1 text-white">
                        <h1>Soft Connect AI: An Intelligent AI Powered Technology Solutions and Services.</h1>
                    </div>
                    <div class="">
                        <div class="mt-2 text-muted d-block">
                            Chat with our AI model akin to GPT for instant responses. Explore conversational AI today. 
                        </div>
                        <a class="a btn btn-info btn-lg border border-2 border-info rounded-pill ps-3 pe-3 mt-4" href="{% url 'chatbot:chat' %}">
                            AI Assistant <i class="fa-solid fa-arrow-right fa-beat "></i>
                        </a>
                    </div>
                </div>
            </div>          
        </div>
        
    </div>
   
</div>
    
{% endblock %}