{% load custom_filters %}

{% if isFirst %}
    <div class="rounded m-2 p-1 text-light" id="prompt_{{ message_id }}">
        {{ prompt | prepend_username:user | convert_to_markdown|safe }}
        <div class="m-1" id="image_{{ message_id }}_container" style="max-width: 600px; max-height: 500px;"></div>
    </div>
    <div class="rounded m-2 p-1 text-light" id="response_{{ message_id }}_container">
        {{ "" | prepend_gemini | convert_to_markdown|safe }}
        <div id='response_{{ message_id }}'>
            {{ res | convert_to_markdown|safe }}
        </div>
    </div>

{% elif isError %}
    <div class="border rounded m-2 p-1 alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Error occurred! Refresh this chat <a href="{% url 'chatbot:chat' %}" class="alert-link">Reload</a>
        </div>
        
    </div>
    <script>
        $("#chat-form").addClass("d-none");
    </script>

{% elif onProgress %}
    <script>
        var markdownString = `{{ res | convert_to_markdown | safe }}`;
        $("#response_{{ message_id }}").html(markdownString);
    </script>
{% elif isLast%}
    {% if image %}
    <script>
        var image_msg = `<img id="image_{{ message_id }}" src="{{ image.url }}" class="img-fluid rounded " alt="Image message">`;
        $('#image_{{ message_id }}_container').html(image_msg);
    </script>
    {% endif %}

<!-- Streaming complete -->
{% endif %}
