{% load custom_filters %}

{% if isFirst %}
    <div class="rounded m-2 p-1 text-light" id="prompt_{{ message_id }}_container">
        {{ prompt | prepend_username:user | convert_to_markdown|safe }}
        <div class="m-1">
            {% if image %}
                <img src="{{ image.url }}" class="img-fluid rounded " alt="Image message">
            {% endif %}
        </div>
    </div>
    <div class="rounded m-2 p-1 text-light" id="response_{{ message_id }}_container">
        {{ "" | prepend_gemini | convert_to_markdown|safe }}
        <div id='response_{{ message_id }}_body'>
            {{ res | convert_to_markdown|safe }}
        </div>
    </div>

{% elif isError %}
    <div class="border rounded m-2 p-1 bg-danger text-light">Error occurred! Refresh this chat</div>
    <script>
        $("#chat-form").addClass("d-none");
    </script>

{% elif onProgress %}
    <script>
        var markdownString = `{{ res | convert_to_markdown | safe }}`;
        $("#response_{{ message_id }}_body").html(markdownString);
    </script>
{% elif isLast%}
<!-- Streaming complete -->
{% endif %}
