{% extends 'main/base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Sign Up | SoftConnect
{% endblock %}
{% block titleWeb %}
    Sign Up | SoftConnect
{% endblock %}
{% block titleOg %}
    Sign Up | SoftConnect
{% endblock %}
{% block descriptionWeb %}
Join SoftConnect today! Sign up for free to experience cutting-edge AI and dynamic conversations.{% endblock %}
{% block descriptionOg %}
Join SoftConnect today! Sign up for free to experience cutting-edge AI and dynamic conversations.{% endblock %}
{% block header %} Sign Up {% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="card mx-auto shadow  text-dark m-2" id="resize-card">
            <div class="card-header">Create Account</div>
            <div class="card-body p-4">
                {{form|crispy}}
                
            </div>
            <div class="card-footer">
                <p>Have an account? <a href="{% url 'auth0:login' %}" class="card-link">Login</a></p>
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
        </div>
        
        
    </form>
{% endblock %}